[Unit]
Description=Install/update Kinoite user development tools
Requires=brew-setup.service
After=brew-setup.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=1000
Environment=HOME=/var/home/yassin
ExecStart=/usr/libexec/kinoite-devtools
